@import "tailwindcss";

@media (width >=1280px) {
  .container {
    max-width: 1280px;
  }
}

body {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  color: #475467;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: var(--font-poppins);
  font-size: 86px;
  font-weight: 400;
  line-height: 1.2;
  color: #0e4dc7;
}

h2 {
  font-family: var(--font-poppins);
  font-size: 42px;
  font-weight: 500;
  line-height: 1.4;
  color: #161616;
}

h3 {
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 400;
  color: #000
}

/* 
h4 {
  font-family: var(--font-neue-montreal);
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
}

h5 {
  font-family: var(--font-onest);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

h6 {
  font-family: var(--font-onest);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
} */

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-28 {
  font-size: 28px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.mt-50 {
  margin-top: 50px;
}

.bg-primary {
  background: #0e4dc7;
}

.bg-iceblue {
  background: #eaf1fe;
}

.text-primary {
  color: #0e4dc7;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}

.btn {
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 100px;
  text-align: center;
}

.btn.btn-lg {
  font-family: var(--font-inter);
  font-size: 22px;
  padding: 18px 50px;
}

.btn-primary {
  background: #0e4dc7;
  color: #fff
}

.btn-white {
  background-color: white;
  color: #0e4dc7;
}

.pulse-badge {
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  text-decoration: none;
  box-shadow: 0 1px 2px #1018280d;
}

.pulse-badge-inner {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #000;
  text-align: left;
  border: 2px solid #d0d5dd;
  border-radius: 10px;
  justify-content: flex-start;
  place-items: center start;
  width: 100%;
  padding: 4px 10px;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 600;
  display: flex;
}

.badge-glow {
  background-color: #0e4dc7;
  border-radius: 10px;
  width: 6px;
  height: 6px;
}

.ripple {
  position: relative;
  z-index: 20;
}

.badge-glow.ripple {
  will-change: transform, opacity;
}

.ripple:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: inherit;
  animation: ripple 1.5s infinite;
  z-index: -1;
  transform: scale(1);
  opacity: 1;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(3);
    opacity: 0.2;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.input-field {
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
  outline: none;
}

.short-form-control {
  border: 0 #000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 55px;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 15px;
  font-size: 18px;
}

.form-btn {
  color: #fff;
  white-space: nowrap;
  word-break: normal;
  background-color: #0e4dc7;
  border-radius: 46px;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  padding: 13px 25px;
  font-size: 18px;
  display: flex;
}




/* HERO SECTION  */
.hero-section {
  background: url('/images/hero-section-bg.svg') no-repeat center top, #eaf1fe;
}

.hero-section .logo-wrapper {
  max-width: 140px;
  max-height: 36px;
  height: 36px;
}


/* PROCESS HIGHLIGHT */
.process-highlight-inner {
  background-image: linear-gradient(#0e4dc7, #1463ff);
}


/* OUR PRICING */
.our-pricing .tabs-inner .tab-btn {
  background: transparent;
  color: #000;
  font-weight: 600;
}

.our-pricing .tabs-inner .tab-btn.active {
  background: #0e4dc7;
  color: #fff;
}


/* TESTIMONIAL SECTION */

.testimonials-section .swiper-navigation-icon {
  color: white;
}

.testimonials-section .swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
}



@media (max-width: 1279.97px) {
  h1 {
    font-size: 70px;
  }

  .fs-28 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 22px;
  }

  .fs-18 {
    font-size: 17px !important;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-22 {
    font-size: 20px;
  }

  .fs-28 {
    font-size: 24px;
  }

  .mt-50 {
    margin-top: 38px;
  }

  .py-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .btn {
    font-size: 18px;
    padding: 13px 26px;

  }

  .btn.btn-lg {
    padding: 15px 44px;
    font-size: 20px;
  }

  .short-form-control {
    font-size: 17px;
    height: 45px;

  }

  .form-btn {
    padding: 12px 20px;
    font-size: 17px;
  }

  @media screen and (max-width: 767.97px) {
    h1 {
      font-size: 52px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 20px;
    }

    .fs-18 {
      font-size: 16px !important;
    }

    .fs-20 {
      font-size: 17px;
    }

    .fs-22 {
      font-size: 18px;
    }

    .fs-28 {
      font-size: 22px;
    }

    .py-70 {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .mt-50 {
      margin-top: 30px;
    }

    .btn {
      font-size: 17px;
    }

    .btn.btn-lg {
      padding: 14px 40px;
      font-size: 18px;
    }

    .form-btn {
      padding: 12px 18px;
      font-size: 16px;
      min-width: 210px;
    }


  }

  @media screen and (max-width: 575.97) {
    .pulse-badge-inner {
      font-size: 13px;
    }

    h1 {
      font-size: 45px;
    }

    .fs-28 {
      font-size: 19px;
    }

    .form-btn {
      min-width: 185px;
      padding: 10px 16px;
      font-size: 15px;
    }

    .short-form-control {
      /* height: 45px; */
      font-size: 15px;
    }

    h2 {
      font-size: 28px;
    }

    .fs-20 {
      font-size: 16px;
    }

    h3 {
      font-size: 19px;
    }

    .fs-18 {
      font-size: 15px !important;
    }

    .btn {
      font-size: 15px;
    }

    .btn.btn-lg {
      padding: 12px 36px;
      font-size: 17px;
    }

    .fs-22 {
      font-size: 17px;
    }
  }

}